// Palette
$orange: orange;
$pink: pink;
$hotpink: hotpink;
$light-grey: #eee;
$turquoise: turquoise;
$black: black;
$grey: #666;

$text-color: $black;
$footer-text-color: $grey;

$link-color: $orange;
$link-selected-color: $hotpink;
$link-hover-color: $pink;

$blockquote-border-color: $light-grey;
$blockquote-bar-color: $grey;

$slider-background: $black;
