//Sizes
@import 'spacing.scss';

$body-font-size: 16pt;
$secondary-font-size: 12pt;
$heading-font-size: 24pt;

@mixin choose-font($font) {
  @if $font == body {
    font-size: $body-font-size;
    line-height: 1.25em;
    letter-spacing: 0.015em;
  } @else if $font == secondary {
    font-size: $secondary-font-size;
  } @else if $font == heading {
    font-size: $heading-font-size;
    font-weight: bold;
    letter-spacing: 0.015em;
    line-height: 1.05em;
    @include respond-to(handhelds) {
      @include choose-font(body);
    }
  }
}
