@import 'colors.scss';
@import 'spacing.scss';
@import 'fonts.scss';

.header-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 30px;

  .left-links {
    display: flex;
    justify-content: flex-start;
    h2 {
      margin-left: 0;
      margin-right: 20px;
    }
  }

  .right-links {
    display: flex;
    justify-content: flex-end;
    a {
      margin-left: 20px;
      margin-right: 0;
    }
  }

  h2 {
    display: inline;

    @include choose-font(heading);
    @include respond-to(handhelds) {
      @include choose-font(body);
    }
  }

  li {
    display: inline;
  }

  .current-page {
    transition: color 0.15s ease-in;
    color: $link-color;
  }

  .current-page:hover {
    color: $link-hover-color;
  }

  a.current-page {
    position: relative;
  }

  a.current-page::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: calc(100% + 5px);
    left: calc(50% - 10px);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $black;
    clear: both;
  }

  a.current-page::before {
    content: '';
    position: absolute;
    width: 100vw;
    background: transparent;
    height: 1px;
    top: calc(100% + 15px);
    left: calc(50% + 1px - 100vw + 55%);
    border-top: 2px solid $black;
    clear: both;
  }
}
