.slider {
  margin-top: 15px;
  margin-bottom: 5%;
  width: 100%;
}
.slider-image {
  background: black;
  width: 100%;
  height: 56.25vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
