@import './colors.scss';
@import './fonts.scss';

.slider {
  margin-top: 15px;
  margin-bottom: 5%;
  width: 100%;
}
.slider-image {
  background: $slider-background;
  width: 100%;
  padding-top: 56.25%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slider-caption {
  text-align: center;
  margin-top: 5px;
  @include choose-font(secondary);
}
